.bfa table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  table-layout: fixed;
  margin: 0px auto;
}
.bfa table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.bfa table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.bfa table th,
 .bfa table td {
padding: 10px!important;
font-size: 14px;
border: 1px #eee solid;
text-align: center;
vertical-align: middle;
}
.bfa table th {
  font-size: 15px;
  background: #1a7200;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1200px) {

  .bfa table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 70%; 
    table-layout: fixed;
    margin: 0px auto;
  }

}

@media screen and (max-width: 960px) {

  .bfa table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80%; 
    table-layout: fixed;
    margin: 0px auto;
  }

}

@media screen and (max-width: 700px) {

  
  .bfa table {
    border: 0;
  }
  .bfa table caption {
    font-size: 1.3em;
  }
  .bfa table thead {
    display: none;
  }
  .bfa table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .bfa table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .bfa table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .bfa table td:last-child {
    border-bottom: 0;
  }
} 