
/* Media 1024 */
@media (max-width: 1300px) {

	
	
}


@media (max-width: 1254px) {
	.insta_img {
	    position: relative; 
	    top: 80px;
	    left: 0px;
	    background: #e2c600;
	    width: 180px;
	    height: 180px;
	    border-radius: 50% 50%;
	    z-index: 1;
	    border: 10px #fff solid;
	    overflow: hidden;
	    margin: 0px auto;
	}
	.insta_det {
	    position: relative;
	    bottom: 0px;
	    right: 0px;
	     max-width: 100%; 
	     max-height: 100%; 
	    /* min-width: 100%; */
	    /* min-height: 60%; */
	    padding: 30px;
	    background: url(images/instadet_bg.png) no-repeat;
	    background-size: cover;
	    padding-top: 80px;
	}
	.insta_det h5{
		text-align: center;
	}
	.insta_det p{
		text-align: center;
	}


}/* media max width 1024 end */

@media (max-width: 1024px) {

		

}/* media max width 1024 end */

@media (max-width: 995px) {

	.life_full{
		width: 100%;
	}
	.slider {
        width: 100%!important;
    }
    .testi_det_container {
	    margin-left: 0px;
	    float: left;
	    width: 100%;
	    text-align: center;
	    margin-top: 20px;
	}
	.testi_img_container {
	    margin: 0px 40%;
	}
	.slick-dots {
	    position: absolute;
	    bottom: -40px!important;
	    display: block;
	    width: 100%!important;
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    text-align: center!important;
	    left: 0%!important;
	}

	.name_and_batch{
		float: none;
		margin-top: 20px;
		display: block;
	}

}

/* media max width 980 */

@media (max-width: 980px) {

	.hero {
    position: absolute;
    bottom: 20%;
    left: 46%;
    z-index: 3;
    color: #fff;
    text-align: left;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
              width: 100%!important;
}
.hero p {
    font-size: 22px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

}/* media max width 980 end */

@media (max-width: 880px){


}


/* media max width 768 */

@media (max-width: 765px){
	
	
	.footer ul {
	    list-style: none;
	    text-align: center;
	}

	.footer h2{
		text-align: center;
		margin-top: 20px;
	}


.testi_img_container {
	    margin: 0px 35%;
	}

	.inner_txt_main {
    padding-left: 0px;
     border-left: 0px #ccc solid; 
}
.ind_testi {
    margin: 15px auto;
}


}/* media max width 768 end */



/* media max width 640 */

@media (max-width: 640px) {

	

}/* media max width 640 end */

/* media max width 550 */

@media (max-width: 500px) {
	
.testi_img_container {
	    margin: 0px 20%;
	}


}/* media max width 550 end */

@media (max-width: 480px) {

	
.hero {
    bottom: 0%;
}




}

@media (max-width: 375px) {

	
}
