/* navigation style */

.navicon{
  display: none;
}

nav ul{
  list-style: none;
  text-align: center;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  position: relative;
}
nav ul li a{
    display: block;
    padding: 16px 15px;
    text-transform: uppercase;
    color: #3b8808;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
  color: #000;
}





nav ul li ul li:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    border: solid #0c3400;
    border-width: 0px 1px 0 0;
    display: none;
    transition: .3s;

}
nav ul li ul li{
 /*  background: #111; */
  width: 220px;
}
nav ul li ul li a{
  padding: 10px 10px;
  color: #fff;
  text-align: left;

}
nav ul li ul li a:hover{
  border-bottom: none!important;
  color: #eab20f;
}




.close {
        display: none;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fff;
    }


.open{
    display: block!important;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    right: 0px;
    z-index: 50;
  }

  .open ul{
    margin: 120px 20px;
  }

  .open ul li{
    display: block;
    text-align: center;

  }


/* Media 1024 */

@media (max-width: 1024px) {
  .navicon{
    display: none;
  }

  
}/* media max width 1024 end */

/* media max width 400 */
@media (min-width: 975px) {



 
 nav ul li ul{
/*   position: absolute;
background: #000!important; 
display: none;
margin-left: 0px;
margin-top: -5px;
    top: 45px;
 
        z-index: 9999;
        text-align: left;
        overflow: hidden;
        transition: .25s; */
          visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
         
}  
nav ul li:hover ul {
visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}


    /*    @-webkit-keyframes drop {
      0%   { height: 0; }
      100% { height: 100%; }
    }
    @-moz-keyframes menuopen {
      0%   { height: 0; }
      100% { height: 100%; }
    }
    @keyframes menuopen {
       0%   { height: 0; }
      100% { height: 100%; }
    }
     */

nav ul li ul li:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    border: solid #0c3400;
    border-width: 0px 1px 0 0;
    display: none;
    /* transition: .3s; */

}
nav ul li ul li{
  background: #111; 
  width: 220px;
  text-align: left;
}
nav ul li ul li a{
  padding: 10px 10px;
  color: #fff;
  text-align: left;

}
nav ul li ul li a:hover{
  border-bottom: none!important;
  color: #eab20f;
}



}

@media (max-width: 975px) {

  .navigation {
    float: right;
     margin: 0px 0px;
   }
  
  .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fff!important;
        opacity: 10;
    }

  .navicon{
    display: block!important;
    position: absolute;
    top: 50px;
    right: 10px;
    color: #000;
    cursor: pointer;
  }
.open {
    display: block!important;
    background: #000;
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0px;
    right: -10px;
    z-index: 50;
    transition: .25s;
    overflow-y: scroll;
}

  .top_nav{
    display: none;
  }

  .open ul{
    margin: 120px 20px;
  }

  .open ul li{
    display: block;
    text-align: center;

  }
  .open ul li a{
    color: #fff;
  }
   .open ul li a:hover{
    background: none!important;
    color: #fff;
   }
  .open{
    -webkit-animation: menuopen .25s ; /* Safari 4+ */
              -moz-animation: menuopen .25s ; /* Fx 5+ */
                animation: menuopen .25s ; /* IE 10+, Fx 29+ */
 }


        @-webkit-keyframes menuopen {
          0%   { width: 0; }
          100% { width: 80%; }
        }
        @-moz-keyframes menuopen {
          0%   { width: 0; }
          100% { width: 80%; }
        }
        @keyframes menuopen {
           0%   { width: 0; }
          100% { width: 80%; }
        }


        nav ul li:hover::after, nav ul li.active::after {
    display: none;
}
.open ul li ul{
  display: block;
  position: relative;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.open ul li ul li{
  background: none;
  width: 100%;

}
.open ul li ul li a{
  padding: 10px 20px;
  color: #FFF;
  background: none;
  font-size: 15px;
}
.open ul li ul li a:hover{
  border-bottom: none;
  color: #FFF;
}

  


}/* media max width 400 end */

