
/*
Website : Aiga
author  : Bijoy N Devasia
company : Loudchilli
Fonts   : 
*/


/* =Reset default browser CSS. -------------------------------------------------------------- */


@font-face {
   font-family: 'AvenirBook';
   src: url('fonts/Avenir-Book.eot');
   src: url('fonts/Avenir-Book.eot') format('embedded-opentype'),
        url('fonts/Avenir-Book.woff') format('woff'),
        url('fonts/Avenir-Book.ttf') format('truetype'),
        url('fonts/Avenir-Book.svg#AvenirBook') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
     font-family: 'AvenirBlack';
    src: url('fonts/avenir/Avenir-Black.eot');
     src: url('fonts/avenir/Avenir-Black.eot') format('embedded-opentype'),
          url('fonts/avenir/Avenir-Black.woff') format('woff'),
          url('fonts/avenir/Avenir-Black.ttf') format('truetype'),
          url('fonts/avenir/Avenir-Black.svg#AvenirBlack') format('svg');
     font-weight: normal;
     font-style: normal;
 }




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	margin:0;
	padding:0;
	background-color:#FFF;

	
  font-family: 'AvenirBook';
	font-size:16px;
	color:#000;
}
.row{
	margin: 0px!important;
	width: 100%;
}
a{
    color: #fff;
    text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6{
  text-align: left;
  margin: 0px;
  padding: 0px;
}
h2{
  text-align: center;
  color: #499019;
  font-size: 24px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
h3{

}
h4{

}
h5{

}
h6{

}

.mar_none{
	margin: 0px;
}
.clearfix{
  clear: both;
}

/* HEADER STYLE */

.main_header{
    background: #fff;
    position: relative;
    min-height: 100px;
    z-index: 99;
    -webkit-box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
}
header{
    min-height: 100px;
    position: fixed;
    width: 100%; 
    z-index: 99;
    background: #fff;
    -webkit-box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
box-shadow: 0px 17px 57px -14px rgba(0,0,0,0.75);
}


.logo{
    width: 150px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    float: left;
}
.logo img{
	width: 100%;
}
.navigation{
	float: right;
	margin: 30px 0px;
}
.navigation ul{
	list-style: none;

}
.navigation ul li{
	list-style-type: none;
	display: inline-block;
}
.navigation ul li a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
}

/* banner area */

.banner{
  max-width: 1600px;
  margin: 0px auto!important;
  max-height: 70vh;
  overflow: hidden;
}



.fade-carousel {
    position: relative;
    height: 70vh;
}
.fade-carousel .carousel-inner .item {
    height: 70vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #499019;
    border-color: #499019;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #fdb300;
    border-color: #fdb300;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    bottom: 20%;
    left: 46%;
    z-index: 3;
    color: #fff;
    text-align: left;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);


    padding-left: 50px;
}
.hero p {
    font-size: 26px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .9;

  
background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 48%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(48%, rgba(0,0,0,0.21)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 48%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 48%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 48%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 48%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('images/slider1.jpg'); 
}
.fade-carousel .slides .slide-2 {
  background-image: url('images/slider2.jpg');
}
.fade-carousel .slides .slide-3 {
  background-image: url('images/slider3.jpg');
}
.fade-carousel .slides .slide-4 {
  background-image: url('images/slider4.jpg');
}
.fade-carousel .slides .slide-5 {
  background-image: url('images/slider5.jpg');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 18px; }    
}








/* Programs */
.programms{
  padding: 70px 0px;
}


.box_container{
  position: relative;
  transition: .25s;
  margin-bottom: 20px;
}
.prgrms_img_container{
  width: 100%;
  min-height: 258px;
  background: #000;
}
.prgrms_img_container::after{
    content: "";
    width: 0;
    height: 0;
    margin-left: -55px;
    position: absolute;
    bottom: 57px;
    left: 100%;
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
}
.prgrm1{
  background: url('images/prgrm1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.prgrm2{
  background: url('images/prgrm2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.prgrm3{
  background: url('images/prgrm3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.prgrm4{
  background: url('images/prgrm4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.prgrms_txt_container{
  width: 100%;
  text-align: center;
  padding-top: 30px;

}
.prgrms_txt_container p{
  font-weight: bold;
  font-size: 20px;
  color: #535353;
}

.box_container:hover{
  transform: translateY(-8px);
}

/* Placements and testimonial */

.placement{
  background: #111;
  padding: 70px 0px;
}
.placement hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 0;
    border-top: 1px solid #4f4f4f;
}
.place_box_container{
  position: relative;
  transition: .25s;
  margin-bottom: 20px;
}
.place_img_container{
  width: 100%;
  min-height: 258px;
  background: #000;
}
.place_img_container::after{
    content: "";
    width: 0;
    height: 0;
    margin-left: -55px;
    position: absolute;
    bottom: 57px;
    left: 100%;
    border: 20px solid transparent;
    border-right: 20px solid #111111;
    border-bottom: 20px solid #111111;
}
.place1{
  background: url('images/place1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.place2{
  background: url('images/place2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.place_txt_container{
  width: 100%;
  text-align: center;
  padding-top: 30px;

}
.place_txt_container p{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.place_box_container:hover{
  transform: translateY(-8px);
}

/* testi */

.testi_img_container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px #2e2e2e solid;
  overflow: hidden;
  float: left;
}
.testi_img_container img{
  width: 100%;
}
.testi_det_container{
    margin-left: 25px;
    float: left;
    width: 60%;

}
.testi_det_container p{
  color: #fff;
  font-size: 16px;
}
.name_and_batch{
  color: #499019;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  /* float: left; */
}
.name_and_batch p{
  font-weight: 300;
}


/* Life at Aiga */

.life_aiga{
  background: #fff;
  padding: 70px 0px;
}
.life_box_container{
  position: relative;
  transition: .25s;
  margin-bottom: 20px;
}
.life_img_container{
  width: 100%;
  min-height: 258px;
  background: #000;
}
.life_img_container::after{
    content: "";
    width: 0;
    height: 0;
    margin-left: -55px;
    position: absolute;
    bottom: 57px;
    left: 100%;
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
}
.life1{
  background: url('images/life1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.life2{
  background: url('images/life2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.life3{
  background: url('images/life3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.life_txt_container{
  width: 100%;
  text-align: center;
  padding-top: 30px;

}
.life_txt_container p{
  font-weight: bold;
  font-size: 20px;
  color: #686868;
}
.life_box_container:hover{
  transform: translateY(-8px);
}

/* About us */

.about{
  background: #111;
  padding: 70px 0px;
}

.about_box_container{
  position: relative;
  transition: .25s;
  margin-bottom: 20px;
}
.about_img_container{
  width: 100%;
  min-height: 258px;
  background: #000;
}
.about_img_container::after{
    content: "";
    width: 0;
    height: 0;
    margin-left: -55px;
    position: absolute;
    bottom: 57px;
    left: 100%;
    border: 20px solid transparent;
    border-right: 20px solid #111111;
    border-bottom: 20px solid #111111;
}
.about1{
  background: url('images/about1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.about2{
  background: url('images/about2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.about3{
  background: url('images/about3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.about4{
  background: url('images/about4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.about_txt_container{
  width: 100%;
  text-align: center;
  padding-top: 30px;

}
.about_txt_container p{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.about_box_container:hover{
  transform: translateY(-8px);
}

/* footer */
.footer{
  background: #ddd;
  padding: 30px 0px;
}
.footer h2{
    text-align: left;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
.footer ul{
  list-style: none;
}
.footer ul li{
  list-style-type: none;
}
.footer ul li a{
    color: #000;
    padding: 5px 0px;
    display: block;
    font-weight: bold;
}
.apply a{
    background: #111;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-top:45px;
    display: block;
    text-align: center;
}
.ebrochure a{
    background: #111;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
     margin-top:45px;
     display: block;
     text-align: center;
}
.powered {
    border-top: 1px #999 solid;
    padding: 10px 0px;
    margin-top: 30px !important;
}
.lch {
    font-size: .85em;
    color: #777;
    display: inline-block;
    text-align: right;
    width: 88px;
    display: block;
    /* margin: 0 auto; */
    opacity: .7;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin-bottom: 20px;
    float: right;
}
.lch:hover {
    filter: grayscale(0%);
}

.lch svg {
    width: 100%;
    height: auto;
}

/* common page style */

.inner_banner{
  width: 100%;
  overflow: hidden;
}
.inner_banner img{
  width: 100%;
}
.inner_content{
  padding: 70px 0px 10px 0px;
}
.inner_content h2{
  text-align: center;
  color: #499019;
  font-size: 28px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.inner_maintxt{
  width: 80%;
  margin: 0px auto;
}
.inner_maintxt p{
  font-weight: bold;
  color: #4d4d4d;
  line-height: 28px;
}

/* inner course */

.inner_course{
    padding: 50px 0px 10px 0px;
}
.inner_course h2{
  text-align: left;
  color: #499019;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  margin-bottom: 15px;
  margin-left: 35px;
}
.inner_course h3{
  text-align: left;
  color: #499019;
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: bold;
  color: #4a8a18;
  margin-left: 35px;
}
.inner_txt_main{
  padding-left: 50px;
  border-left: 1px #ccc solid;
}
.inner_txt_main p{
  font-weight: bold;
  color: #4d4d4d;
  line-height: 28px;
}
.course_side_link ul{
  list-style: none;
  border-bottom: 1px #ccc solid;
  padding-bottom: 20px;
}
.course_side_link ul li{
  list-style-type: none;
  transition: .25s;
  position: relative;
}
.course_side_link ul li a{
  color: #111;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
  display: block;
}

.course_side_link ul li:hover{
  margin-left: 3px;
}
ul.allprgrm{
  list-style: none;
  border: none;
  padding-top: 20px;
}
ul.allprgrm li a{
  color: #639e31;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
  display: block;
}



/* contact us */


.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}






/* form */
.form{
    float: left;
    width: 91%;
    background: #;
    padding: 10px 50px 50px 50px;
}
.form table{
  width: 100%;
  margin: 0px auto;
}
.form table tr td{
  padding: 5px 0px;
  vertical-align: middle;
}
.form h2{
  width: 100%;
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: center;
}
.form input[type=text]{
  border: 1px #ccc solid;
  width: 100%;
  color: #000;
  padding: 10px;
  font-size: 16px;
}
.form input[type=email]{
  border: 1px #ccc solid;
  width: 100%;
  color: #000;
  padding: 10px;
  font-size: 16px;
}
.form textarea {
    border: 1px #ccc solid;
    width: 100%;
    color: #000;
    padding: 10px;
    font-size: 16px;
    height: 100px;
    vertical-align: top;
}

.form input[type=submit]{
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    background: #000;
    float: right;
    line-height: 1;
}


.btns {
  /*background-color: #1a7200;
   background-image: -webkit-linear-gradient(100deg, #ff5a64 0%, #faa04b 30%, #d2dc69 70%, #0ef49b 100%);
  background-image: -webkit-linear-gradient(350deg, #ff5a64 0%, #faa04b 30%, #d2dc69 70%, #0ef49b 100%);
  background-image: linear-gradient(100deg, #ff5a64 0%, #faa04b 30%, #d2dc69 70%, #0ef49b 100%); */
  z-index: 0;
  /* height: 50px; */
  float: none;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  /* border-radius: 40px; */
  display: block;
  box-shadow: 0 2px 4px -1px rgba(25, 25, 25, 0.2);

}
.btns input {
  display: none;

}
.btns input [type=radio]{
  vertical-align: top;
}
.btns label {
  display: table;
  float: left;
  padding: 10px 0px;
  /* width: 22%; */
  height: 100%;
  margin: 0;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  background: #60a44d;
}
.btns label:first-child {
  border-left: none;
  /* border-radius: 40px 0 0 40px; */
}
.btns label:last-child {
  /* border-radius: 0 40px 40px 0; */
}
.btns .btn {
  font-size: 15px;
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 30px 20px -20px rgba(255, 255, 255, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

}
.btns .btn:hover {
 /*  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
 -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
 transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1); */
 color: #000;
}
.btns .btn:after {
  content: '\2714';
  margin-left: -10px;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.btns .first {
/*   border-radius: 40px 0 0 40px; */
}
.btns .last {
  /* border-radius: 0 40px 40px 0; */
}
.btns input:checked + .btn {
  color: #000;
  /*text-shadow: none;
   background-image: -webkit-linear-gradient( bottom , rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
  background-image: -webkit-linear-gradient(bottom, rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
  background-image: linear-gradient(to top, rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.08); 
  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;*/
}
.btns input:checked + .btn:after {
  margin-left: 12px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  -webkit-transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.searcharea{
    width: 73%;
    background: #000;
}
.searcharea input[type=text]{
  background: #999;
}





/* pop up */

.popup {
  background: rgba(100, 100, 100, 0.6);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup > div {
  border-radius: 10px;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 15px;
  /* Width of popup can be changed */
  width: 70%;
  max-width: 600px;
  z-index: 5001;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  border: 5px solid #9AD3DE;
}
.pop_close {
    position: absolute;
    top: 0px;
    right: 09px;
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}



.ind_testi_container{
  padding: 20px 0px;
}
.ind_testi{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.ind_testi_name{
  width: 100%;
  margin-top: 15px;
}
.ind_testi_name span{
  color: #38670f;
  font-weight: bold;
  font-size: 18px;
  width: 100%;

}
.ind_img_container{
  float: right;
}
.dream_project{
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px 0px;
}
.dream_project img{
  width: 100%;
}

/* show case */
.showcase_container{
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  max-width: 100%;
  transition: .25s;
  margin: 15px 0px;
}
.showcase_img{
  width: 100%;
}
.showcase_img img{
  max-width: 100%;
}
.showcase_container h3{
  font-weight: bold;
  font-size: 18px;
  color: #000;
  padding: 10px 0px;
}
.showcase_container:hover{
  transform: translateY(-5px);
}

.showcase h3{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px;
  color: #38670f;
  text-transform: uppercase;
}
.showcase ul{
  list-style: none;
  text-align: center;

}
.showcase ul li{
  list-style-type: none;
  display: inline-block;
}
.showcase ul li a{

}



/* instructors */

.insta_main{
  position: relative;
  background: #fff;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
  margin-bottom: 20px;
}
.insta_img{
    position: absolute;
    top: 30px;
    left: 30px;
    background: #e2c600;
    width: 180px;
    height: 180px;
    border-radius: 50% 50%;
    z-index: 1;
    border: 10px #fff solid;
    overflow: hidden;
}
.insta_img img{
  width: 100%;
  margin-top: 10px;
   -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
   filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}
.insta_det{
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 80%;
  max-height: 80%;
  min-width: 75%;
  min-height: 60%;
  background: #007188;
  padding: 30px;
  background: url('images/instadet_bg.png') no-repeat;
  background-size: cover;
}
.insta_det h5{
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;

}
.insta_det p{
    text-align: right;
    color: #fff;
    margin-top: 20px;
}





