


/* game art form end */


.table h2{
  margin-bottom: 10px;
  text-align: center
}
.table p{
    margin-bottom: 20px;
    text-indent: 0;
    text-align: center;
}


/* 
  Generic Styling, for Desktops/Laptops 
  */
  .table table { 
    width: 100%; 
    border-collapse: collapse; 
    margin: 0px auto;
  }
  /* Zebra striping */
  .table tr:nth-of-type(odd) { 
    background: #; 
    margin-bottom: 10px;
  }
  .table th { 
    background: #4e9937;
    color: white; 
    font-weight: bold; 
    vertical-align: middle;
  }
  .table td, th { 
    padding: 10px; 
    border: 1px solid #eee; 
    text-align: left; 
    padding-left: 5px!important;
  }
  .table p.note{
    width: 80%;
    margin: 20px auto;
  }



  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    /* Force table to not be like tables anymore */
    .table table, thead, tbody, th, td, tr { 
      display: block; 
    }

     .table table { 
    width: 100%; 
    border-collapse: collapse; 
    margin: 0px auto;
  }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
   .table tr { border: 1px solid #ccc; margin-bottom: 10px; }
    
   .table td { 
      /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 53%!important;
          
          font-size: 13px!important;
           min-height: 50px;
          /*margin-top: 12px; */
          padding-top: 20px;

    }
    
    .table td:before { 
          position: absolute;
          top: 0px;
          left: 0px;
          width: 45%;
          padding-right: 10px;
          /* white-space: nowrap; */
          background: #4e9937;
          height: 83%;
          padding-top: 20px;
          padding-left: 6px;
          color: #fff;
          /* z-index: 1; */
          border-bottom: 1px #fff solid;

    }
    .table th:first-child, td:first-child {
          padding-left: 53%!important;  
    }
    
    /*
    Label the data
    */
    .table td:nth-of-type(1):before { content: "no. of weeks"; }
    .table td:nth-of-type(2):before { content: "Module"; }
    .table td:nth-of-type(3):before { content: "Outcome"; }
    /*td:nth-of-type(4):before { content: "CTO Reduction Capacity"; }
    td:nth-of-type(5):before { content: "Bio Static Capacity @ Flow"; }
    td:nth-of-type(6):before { content: "Initial P @ Flow rate"; }
     td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; } */
  }
  
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body { 
      padding: 0; 
      margin: 0; 
      width: 100%; }
    }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
      width: 100%; 
    }
  }

